@font-face {
  font-family: 'Geometria', sans-serif;
  src: url('../fonts/Geometria-Bold.eot') format('eot');
  src: url('../fonts/Geometria-Bold.ttf') format('ttf');
  src: url('../fonts/Geometria-Bold.woff') format('woff');
  src: url('../fonts/Geometria-Bold.woff2') format('woff2');
  src: url('../fonts/Geometria-ExtraBold.eot') format('eot');
  src: url('../fonts/Geometria-ExtraBold.ttf') format('ttf');
  src: url('../fonts/Geometria-ExtraBold.woff') format('woff');
  src: url('../fonts/Geometria-ExtraBold.woff2') format('woff2');
  src: url('../fonts/Geometria-Light.eot') format('eot');
  src: url('../fonts/Geometria-Light.ttf') format('ttf');
  src: url('../fonts/Geometria-Light.woff') format('woff');
  src: url('../fonts/Geometria-Light.woff2') format('woff2');
  src: url('../fonts/Geometria.eot') format('eot');
  src: url('../fonts/Geometria.ttf') format('ttf');
  src: url('../fonts/Geometria.woff') format('woff');
  src: url('../fonts/Geometria.woff2') format('woff2');
}

@font-face {
  font-family: 'Gilroy-Bold', sans-serif;
  src: url('../fonts/Gilroy-ExtraBold.otf') format('otf');
  src: url('../fonts/Gilroy-Light.otf') format('otf');
}
  